/* Generic */
.content {
  font-size: 17px;
  color: #3a3a3a;
}

a {
  text-decoration: none;
  color: #1e73be;
}

a:hover {
  color: #1a1a1a;
}

.contentTitle {
  font-size: 30px;
  color: #1e73be;
  font-weight: 300;
}

.contentMeta {
  font-size: 15px;
  color: #666666;
}

.contentEdit {
  font-size: 15px;
  color: #666666;
}

/* Index */
.contentIndexUl {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.contentIndexLi {
  background-color: #ffffff;
  padding: 40px;
  margin-bottom: 20px;
}

.contentPaginator {
  margin-bottom: 20px;
}
