---
---
.siteMenu {
color: #ffffff;
}

.siteMenuLink {
  float: right;
  text-decoration: none; 
  font-size: 15px; 
  padding-right: 20px; 
  padding-left: 20px; 
  display: block; 
  line-height: 60px;
  color: #ffffff;
}

a.siteMenuLink:hover {
  color :#ffffff;
}

