<!DOCTYPE html>
<html>
<head>
    <title>{{ site.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/import.css">
    <!-- link to font stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,regular,italic,600,600italic,700,700italic,800,800italic">
</head>
<body>
    <div class="siteHeaderWrapper">
        <div class="siteHeader">
            <div class="siteIcon">Icon</div>
            <div class="siteTitle">Title</div>
            <div class="siteDescription">Description</div>
        </div>
    </div>
    <div class="siteMenuWrapper">
        <div class="siteMenu">
            <div class="siteMenuLinks">MenuLink</div>
        </div>
    </div>
    <div class="siteContentWrapper">
        <div class="siteContent">
            <div class="siteContentMain">{{ content }}</div>
            <div class="siteContentWidgets">Widgets</div>
        </div>
    </div>
    <div class="siteFooterWrapper">
        <div class="siteFooter">Footer</div>
    </div>
</body>
</html>
